<div id="<%= dom_id pin %>">
  <%= image_tag pin.pin_image.url, width: 600 %>
  <p>
    <strong>Title:</strong>
    <%= pin.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pin.description %>
  </p>

</div>
