
<body id="promo">

<div class="logo">
<%= image_tag("vibe.png", :alt => "logo", style: 'height:34vw;margin-top:90px') %>
</div>

<div class="p1">
<p><i>создай свою атмосферу</i></p>
<%= image_tag("arrow.svg", :alt => "logo", style: 'height:2vw;') %>
<button onclick="window.location.href='https://t.me/vibe_diz';">подписаться</button>
</div>








</body>